<h3>{{ leyenda }} - {{ progreso }}</h3>
<br />
<div class="input-group">
    <span class="input-group-btn">
    <button class="btn btn-primary" type="button" (click)="cambiarValor(+5)">
      <i class="mdi mdi-plus"></i>
    </button>
  </span>
    <input #txtProgress type="number" class="form-control" name="progreso" (ngModelChange)="onChanges( $event )" [(ngModel)]="progreso">
    <span class="input-group-btn">
    <button class="btn btn-primary" type="button" (click)="cambiarValor(-5)">
      <i class="mdi mdi-minus"></i>
    </button>
  </span>
</div>